.custom-list >*{
	background-image: none;
}


/* Hack to stop aside taking up silly amounts of room */
.ui-li-aside{
	width: 20%;
}

.ui-li-has-arrow{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f4f4f4));
}